/* img {
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	
} */

body{

}
.base{
	display: flex;
	align-items: center;
	align-items: flex-start;
	align-content: center;
	justify-content: center;
	/* position:absolute; */
	/* margin:0 auto; */
	/* justify-content: space-between; */
	/* left: 200px; */
}

.fixed{
	position:fixed;
}

#counter{
	text-align: center;
	background-color: white;
	opacity: 0.8;
	width: 250px;
	/* float: right; */
	/* position: center; */
	/* margin-left: 100px; */
	
}
span{
	font-size: 30px;
	color: Black;
	opacity: 1;
}

.buttonscreen{
	/* display:flex;		 */
	align-items: center;
	justify-content: center;
	inset: 0px 0px 0px 0px;
	
}

.avatarScreen{	
	margin: 300px;

}

.bg-white{
	background-color: gray;
	width: 350px;
	padding: 10px;
	text-align: center;
}

.avatar_button{
	background-color: gray;
	width: 350px;
	padding: 10px;
	text-align: center;
}
.scoreInbutton{
	font-size: 40px;
	font: bold;
}
p{
	font-size: small;
	color: white;
	font-size: 20px;
}
.startButton{
	background-color: rgb(30,144,255);
	color: white;
	font-size: 20px;
	border-radius: 20px;
}
.backFirstpgbtn{
	background-color: rgb(30,144,255);
	color: white;
	font-size: 20px;
	border-radius: 20px;
}

#canvas_back{
	width: 840px; 
	height: 770px;
	align-items:center;
	background-size: contain;
	border: 4px solid black; 
	image-rendering: pixelated;
	
	/* background-image: url("./assets/pokesilenthills.png"); */
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	/* width: 100%; */
	position: absolute;
}

#canvas_Start{
	width: 840px; 
	height: 770px;
	align-content:center;
	background-size: contain;
	border: 4px solid black; 
	image-rendering: pixelated;
	/* background-image: url("/assets/PokeGoldDemo-SilentHills.png"); */
	/* background-image: url("./assets/halloweenwallpaper.png"); */
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	/* width: 100%; */
	position: absolute;
}


.this{
	font-size: 30px;
}

